{% extends 'main/layout.html' %}

{% block title %}
    City
{% endblock %}

{% block search %}
    <div class="search-form">
        <form action="" method="get">
            <input name="s" placeholder="Поиск города..." type="search">
            <button type="submit"><p><i class="fa-solid fa-magnifying-glass search-icon"></i></p></button>
        </form>
    </div>
    
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main-container-one">
            <h2>Казань</h2>
        </div>
        <div class="main-container-two">
                <p>Сейчас 12:44</p>
        </div>
        <div class="main-container-three">
            <p class="main-container-three-active">+28° Облачно</p>
            <p class="main-container-three-passive">Ощущается как -8°</p>
        </div>
    </div>
    <div class="scroll">
        <div class="scroll-wrapper">
            <div class="scroll-week">
                <div class="scroll-day">
                    <div class="scroll-date">
                        <h6>Сегодня</h6>
                        <p>7 ноября</p>
                    </div>
                    <div class="scroll-degrees">
                        <h6>+2°</h6>
                        <p>-2°</p>
                    </div>
                    <div class="scroll-state">
                        <p>Небольшой дождь</p>
                    </div>
                </div>
                <div class="scroll-day">
                    <div class="scroll-date">
                        <h6>Пт</h6>
                        <p>8 ноября</p>
                    </div>
                    <div class="scroll-degrees">
                        <h6>+2°</h6>
                        <p>-2°</p>
                    </div>
                    <div class="scroll-state">
                        <p>Облачно</p>
                    </div>
                </div>
                <div class="scroll-day">
                    <div class="scroll-date">
                        <h6>Сб</h6>
                        <p>9 ноября</p>
                    </div>
                    <div class="scroll-degrees">
                        <h6>+2°</h6>
                        <p>-2°</p>
                    </div>
                    <div class="scroll-state">
                        <p>Облачно</p>
                    </div>
                </div>
                <div class="scroll-day">
                    <div class="scroll-date">
                        <h6>Вс</h6>
                        <p>10 ноября</p>
                    </div>
                    <div class="scroll-degrees">
                        <h6>+2°</h6>
                        <p>-2°</p>
                    </div>
                    <div class="scroll-state">
                        <p>Облачно</p>
                    </div>
                </div>
                <div class="scroll-day">
                    <div class="scroll-date">
                        <h6>Пн</h6>
                        <p>11 ноября</p>
                    </div>
                    <div class="scroll-degrees">
                        <h6>+2°</h6>
                        <p>-2°</p>
                    </div>
                    <div class="scroll-state">
                        <p>Облачно</p>
                    </div>
                </div>
                <div class="scroll-day">
                    <div class="scroll-date">
                        <h6>Вт</h6>
                        <p>12 ноября</p>
                    </div>
                    <div class="scroll-degrees">
                        <h6>+2°</h6>
                        <p>-2°</p>
                    </div>
                    <div class="scroll-state">
                        <p>Облачно</p>
                    </div>
                </div>
                <div class="scroll-day">
                    <div class="scroll-date">
                        <h6>Ср</h6>
                        <p>13 ноября</p>
                    </div>
                    <div class="scroll-degrees">
                        <h6>+2°</h6>
                        <p>-2°</p>
                    </div>
                    <div class="scroll-state">
                        <p>Облачно</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-button-box">
            <button class="scroll-button-left scroll-button"><i class="fa-solid fa-arrow-right button-icon"></i></button>
            <button class="scroll-button-right scroll-button"><i class="fa-solid fa-arrow-right button-icon"></i></button>
        </div>
    </div>
    
{% endblock %}