{% extends 'main/layout.html' %}

{% block title %}
    City
{% endblock %}

{% block search %}
    <div class="search-form">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.name }}
            <button type="submit"><p><i class="fa-solid fa-magnifying-glass search-icon"></i></p></button>
        </form>
    </div>
    
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main-container-one">
            <h2>{{ info.city }}</h2>
        </div>
        <div class="main-container-two">
                <p>Now {{ general_info.time }} GMT+4</p>
        </div>
        <div class="main-container-three">
            <p class="main-container-three-active">12° cloudy</p>
            <p class="main-container-three-passive">Feels like °</p>
        </div>
    </div>
    <div class="scroll">
        <div class="scroll-wrapper">
            <div class="scroll-week">
                {% for info in all_info %}
                <div class="scroll-day">
                    <div class="scroll-date">
                        <h6>{{ info.city }}</h6>
                        <p>{{ general_info.date }}</p>
                    </div>
                    <div class="scroll-degrees">
                        <h6>{{ info.temp_max }}°</h6>
                        <p>{{ info.temp_min }}°</p>
                    </div>
                    <div class="scroll-state">
                        <p>{{ info.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="scroll-button-box">
            <button class="scroll-button-left scroll-button"><i class="fa-solid fa-arrow-right button-icon"></i></button>
            <button class="scroll-button-right scroll-button"><i class="fa-solid fa-arrow-right button-icon"></i></button>
        </div>
    </div>
    
{% endblock %}